.dMainbox {
    display:flex;
    flex-direction:row;
    height:100%;
    width:100%;
    justify-content: center;
}

.dLeft, .dMiddle, .dRight {
    width:100%;
}

.dMiddle {
    display:flex;
    flex-direction: column;
}

.dKey {
    margin:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:auto
}

.dRight {
}

#inpLeft {
    accent-color: rgb(31, 167, 138);
    border:1px outset rgb(31, 167, 138);
}

#inpRight {
    accent-color: rgb(197, 105, 30);
    border:1px outset rgb(197, 105, 30);
}

#txtKey {
    background: rgba(194, 169, 169, 0.09);
    /* border:1px solid lime; */
    /* box-shadow: 0px 0px 10px lime; */
}


.inpArea {
    background: rgba(194, 169, 169, 0.243);
    /* border: 1px solid rgb(0, 255, 81); */
    height:30%;
    width:100%;
    /* box-shadow: 0px 0px 5px lime; */
}

#inpLeftHex, #inpRightHex {
    background: rgba(74, 68, 68, 0.281);
    /* visibility:hidden; */
    border:0px solid red;
    color: gray;
}

#txtKeyStream{
    background: rgba(74, 68, 68, 0.281);
    margin-top:4%;
    border:0px solid red;
    color:gray;
    height:100%;
    overflow:visible;
}

#labelKeyStream {
    padding:0px;
    margin: auto;
    margin-top:8%;
}

html * {
    font-size: 1.45rem;
    font-family: 'Atkinson Hyperlegible Mono';
    color:white;
    padding:5px;
}

textarea {
    resize:none;
    overflow:hidden;
}

.labelCtPt {
    /* margin-left:50%;
    transform:translateX(-50%); */
    display:inline-block;

}

body {
    /* background-image: linear-gradient(rgb(47, 44, 54),rgb(110, 78, 62)); */
    background-color: rgb(24, 27, 26);
    

}

button {
    background: rgba(194, 169, 169, 0.09);
    border:1px outset rgb(31, 167, 138);
    /* box-shadow: 0px 0px 5px lime; */
    margin-top:20px;
}

#butDecrypt {
    border:1px outset rgb(197, 105, 30);
}

#butDecrypt:hover {
    background-color: rgb(197, 105, 30);
}

#butEncrypt:hover {
    background-color: rgb(31, 167, 138);
}